{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "strict": ["error", "never"],
    "object-curly-spacing": ["error", "always"]
  },
  "env": {
    "browser": true
  }
}